<!DOCTYPE html>
<html lang="en">{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SABRINA TREZZI | Grafica & Pubblicita</title>

    <meta name="description" content="L'agenzia è nata come studio grafico nel 2008 dalla passione creativa di Sabrina Trezzi. 
    Ora a tutti gli effetti è divenuta un'agenzia di comunicazione pubblicitaria, dotata di un team esperto capace di integrare la creatività dello studio grafico pubblicitario e la tecnologia della web agency per dare sempre il miglior servizio ai suoi clienti, rimanendo sempre aggiornati sulle ultime novità che questo grande mondo della comunicazione ci offre. ">
    <meta property="og:title" content="SABRINA TREZZI | Grafica & Pubblicita" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.sabrinatrezzi.com/" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>

    <!-- SLIDER REVOLUTION -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/style.css' %}" media="screen" />
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/settings.css' %}" media="screen" />
    
    	<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
    	<script type="text/javascript" src="{% static 'js/jquery.vticker.js' %}"></script>
    	<!-- script type="text/javascript" src="/js/isotope-docs.min.js"></script-->
    	
    	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.jplayer.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.gray.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/custom.theme.isotope.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/custom.theme.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/theme.pagebuilder.js' %}"></script>


    <!-- UNITE GALLERY -->
    <script type='text/javascript' src="{% static 'unitegallery/js/unitegallery.js' %}"></script> 
    <link rel='stylesheet' href="{% static 'unitegallery/css/unite-gallery.css' %}" type='text/css' />
    <script type='text/javascript' src="{% static 'unitegallery/themes/tiles/ug-theme-tiles.js' %}"></script>
        
        
        <!-- Aside styles -->
        <!--link rel="stylesheet" id="bootstrap-css" href="{% static 'styles/bootstrap.css' %}" type="text/css" media="screen"-->
        <link rel="stylesheet" id="font-awesome-css" href="{% static 'styles/font-awesome.min.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" id="pagebuild-css" href="{% static 'styles/pagebuild.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" id="ux-aside-css" href="{% static 'styles/style.css' %}" type="text/css" media="screen">
        <link rel="stylesheet" id="icons-css" href="{% static 'styles/icons.css' %}" type="text/css" media="screen">
    	
    
	<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}" media="screen" />
    <link href="{% static 'custom.css' %}" rel="stylesheet">

  </head>
  <body>

	<!-- Header - menu -->
	{% include 'componenti/header.html' %}


	{% block content %}

	{% endblock %}


	<!-- Footer -->
	{% include 'componenti/footer.html' %}


<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    animationLoop: true,
    controlNav: false,
    itemWidth: 210,
    itemMargin: 5,
    minItems: 2,
    maxItems: 5
  });
});
</script>


<!-- analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82219019-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
